<style type="text/css">

.homeheadbigtext {
  color: #6a2f1e; 
  font-weight: 500;
  font-size: 25px; 
  text-align: left;
}

.homesect1 {
	margin-top: 90px;
	padding: 60px;
	background-color: #ffffff;
}


</style>

<section class="homesect1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1 class="homeheadbigtext">
					JimFam is a leading Afro-industrial firm working hand in hand with the cocoa merchants association of America.
				</h1>
				<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; margin-top: 20px;">
					JimFam is a leading Afro-industrial firm working hand in hand with the cocoa merchants association of America importing quality raw cocoa and coffee beans at it natural state to Manufactuirng companies(chocolate companies,coffee companies etc) 
					<br><br>
					In addition to delivering responsibly-sourced cocoa and coffee, we are now increasing our 
					engagement in commodity-producing countries through processing operations in cocoa.
					<br><br> 
					To tailor its products to the needs of customers around the world, JIMFAM is proud to offer cocoa products which are Halal, Kosher, Fair Trade. Organic. FDA and certified.
				</p>
			</div>
			<div class="col-lg-6">
				<p>
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/6100fd3d1fcb1.jpeg" class="img-fluid">
				</p>
			</div>
		</div>
	</div>
</section>