<style type="text/css">
	.homeslider {
  margin-top: 70px;
}

.carousel {
position: relative;
top: 15px;
}

.acttextbig {
  color: white; 
  margin-top: 0px; 
  font-weight: 600;
  font-size: 35px; 
  text-align: left;
}

.homeheadbigtext {
  color: #6a2f1e; 
  margin-top: 0px; 
  font-weight: 500;
  font-size: 25px; 
  text-align: left;
}

.holderservices {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
}

.homesect1 {
	padding: 60px;
	background-color: #ffffff;
}


.carousel-item {
  min-height:600px;
  background:no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

    .carousel-inner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 5%;
  bottom: 100px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

.capttxt {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
  text-align: right;
}

.rmore {
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background-color: #ffb70a;
	border: none;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
}

.ctact {
	font-size: 18px;
	font-weight: 600;
	color: #000000;
	border: none;
	background-color: #ffffff;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.45);
}

.lmore {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background-color: #000000;
	width: 100%;
	border: none;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
}

</style>



<section class="homeslider">
   <header>

 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

        	 <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60d545ebed0ba.jpeg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              	<h1 class="acttextbig">
					Welcome to JBCCI
				</h1>
				<h1 class="acttextbig" style="color: #ffb70a;">
					Top Coffee Bean Importer
				</h1>
				<p style="text-align: left;">
					JimFam is the best company to contact for all your cocoa and coffee beans.
				</p>
				<p style="text-align: left;">
					<a href="/apply" class="btn btn-lg rmore btn-primary">Read More</a>
					<a href="/apply" style="margin-left: 10px;" class="btn btn-lg ctact btn-primary">Contact Us</a>
				</p>
            </div>
          </div>
          
          <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60d5463f1eacc.jpeg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              	<h1 class="acttextbig">
					Welcome to JBCCI
				</h1>
				<h1 class="acttextbig" style="color: #ffb70a;">
					Quality Coffee Beans Exported worldwide.
				</h1>
				<p style="text-align: left;">
					JimFam is the best company to contact for all your cocoa and coffee beans.
				</p>
				<p style="text-align: left;">
					<a href="/apply" class="btn btn-lg rmore btn-primary">Read More</a>
					<a href="/apply" style="margin-left: 10px;" class="btn btn-lg ctact btn-primary">Contact Us</a>
				</p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60d5467767906.jpeg'); background-position:center;)">
            <div class="carousel-caption d-md-block">
              <h1 class="acttextbig">
					Welcome to JBCCI
				</h1>
				<h1 class="acttextbig" style="color: #ffb70a;">
					Top Cocoa Bean Importer
				</h1>
				<p style="text-align: left;">
					JimFam is the best company to contact for all your cocoa and coffee beans.
				</p>
				<p style="text-align: left;">
					<a href="/apply" class="btn btn-lg rmore btn-primary">Read More</a>
					<a href="/apply" style="margin-left: 10px;" class="btn btn-lg ctact btn-primary">Contact Us</a>
				</p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60d546d545dc7.jpeg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              <h1 class="acttextbig">
					Welcome to JBCCI
				</h1>
				<h1 class="acttextbig" style="color: #ffb70a;">
					Quality Cocoa Beans Exported worldwide.
				</h1>
				<p style="text-align: left;">
					JimFam is the best company to contact for all your cocoa and coffee beans.
				</p>
				<p style="text-align: left;">
					<a href="/apply" class="btn btn-lg rmore btn-primary">Read More</a>
					<a href="/apply" style="margin-left: 10px;" class="btn btn-lg ctact btn-primary">Contact Us</a>
				</p>
            </div>
          </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
 </section>

<section class="homesect1">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1 class="homeheadbigtext">
					JIMFAM is a leading agro-industrial actor. Our know-how builds on over years' experience in providing our customers with high quality commodities and services 
				</h1>
				<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; margin-top: 20px;">
					In addition to delivering responsibly-sourced cocoa and coffee, we are now increasing our 
					engagement in commodity-producing countries through processing operations in cocoa.
					<br><br> 
					To tailor its products to the needs of customers around the world, JIMFAM is proud to offer cocoa products which are Halal, Kosher, Fair Trade. Organic. FDA and certified.
				</p>
			</div>
			<div class="col-lg-6">
				<p>
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7cd47e2a02.jpeg" class="img-fluid">
				</p>
			</div>
		</div>
	</div>
</section>

<section class="holderservices">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 style="margin-top: 0px; margin-bottom: 20px; text-align: center; color: #2e0d08; font-weight: 600;">
						Our Services
				</h2>
			</div>
			<div class="col-lg-4">
				<div class="holdserv">
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7d3f29f2bc.jpeg" class="img-fluid">
					<h5 style="margin-top: 20px; text-align: center; color: #6a2f1e;">
						Sourcing Cocoa/Coffee beans.
					</h5>
					<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; text-align: center;">
						Our company sources the best cocoa and coffee beans from world renowned farms. Ensuring you have the best cocoa and coffee beans with highe quality also.
					</p>
					<!-- <p>
						<a href="" class="btn btn-primary btn-lg lmore">Learn More</a>
					</p> -->
				</div>
			</div>

			<div class="col-lg-4">
				<div class="holdserv">
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7d3a5e5371.jpeg" class="img-fluid">
					<h5 style="margin-top: 20px; text-align: center; color: #6a2f1e;">
						Verifying Quality
					</h5>
					<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; text-align: center;">
						Cocoa and Coffee beans are verified by us to ensure the meet world standards. Beans are certified by the FDA of the countries we source from.
					</p>
					<!-- <p>
						<a href="" class="btn btn-primary btn-lg lmore">Learn More</a>
					</p> -->
				</div>
			</div>

			<div class="col-lg-4">
				<div class="holdserv">
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7d362c2931.jpeg" class="img-fluid">
					<h5 style="margin-top: 20px; text-align: center; color: #6a2f1e;">
						Proper Background Checks
					</h5>
					<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; text-align: center;">
						We do a proper check on all our supliers and ensure they meet the right standard. This also ensures we always have the best people to give us the best cocoa and coffee beans.
					</p>
					<!-- <p>
						<a href="" class="btn btn-primary btn-lg lmore">Learn More</a>
					</p> -->
				</div>
			</div>
		</div>
	</div>
</section>




















