<style type="text/css">

.homesect1 {
	margin-top: 90px;
	padding: 60px;
	background-color: #ffffff;
}	

.lmore {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background-color: #000000;
	width: 100%;
	border: none;
	border-radius: 2px;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 12px;
	padding-bottom: 12px;
}

</style>

<section class="homesect1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 style="margin-top: 0px; margin-bottom: 20px; text-align: center; color: #2e0d08; font-weight: 600;">
						Our Services
				</h2>
			</div>
			<div class="col-lg-4">
				<div class="holdserv">
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7d3f29f2bc.jpeg" class="img-fluid">
					<h4 style="margin-top: 20px; text-align: center; color: #6a2f1e;">
						Sourcing Cocoa/Coffee beans.
					</h4>
					<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; text-align: center;">
						Our company sources the best cocoa and coffee beans from world renowned farms. Ensuring you have the best cocoa and coffee beans with highe quality also.
					</p>
					<!-- <p>
						<a href="" class="btn btn-primary btn-lg lmore">Learn More</a>
					</p> -->
				</div>
			</div>

			<div class="col-lg-4">
				<div class="holdserv">
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7d3a5e5371.jpeg" class="img-fluid">
					<h4 style="margin-top: 20px; text-align: center; color: #6a2f1e;">
						Verifying Quality
					</h4>
					<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; text-align: center;">
						Cocoa and Coffee beans are verified by us to ensure the meet world standards. Beans are certified by the FDA of the countries we source from.
					</p>
					<!-- <p>
						<a href="" class="btn btn-primary btn-lg lmore">Learn More</a>
					</p> -->
				</div>
			</div>

			<div class="col-lg-4">
				<div class="holdserv">
					<img src="https://nikasemo-static.s3.us-west-2.amazonaws.com/jimfam/60e7d362c2931.jpeg" class="img-fluid">
					<h4 style="margin-top: 20px; text-align: center; color: #6a2f1e;">
						Proper Background Checks
					</h4>
					<p style="font-size: 14px; color: #4a4a4a; font-weight: 300; line-height: 28px; text-align: center;">
						We do a proper check on all our supliers and ensure they meet the right standard. This also ensures we always have the best people to give us the best cocoa and coffee beans.
					</p>
					<!-- <p>
						<a href="" class="btn btn-primary btn-lg lmore">Learn More</a>
					</p> -->
				</div>
			</div>
		</div>
	</div>
</section>



